* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

}

body {
  background-color: white;
  cursor: pointer;
}

/* birinci nav */
.nav1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #f6f7f8;
  font-size: 14px;

}

.leftNav {
  font-family: 'SF PRO DISPLAY Medium';
}

.rightNav {
  display: flex;
  flex-direction: row;

}

.btnLeft {
  display: flex;
  border: 0;
  width: 150px;
  color: black;
  height: 40px;
  background-color: #f6f7f8;
  margin: 15px 25px 0 10px;



}

.btnRighLupa {
  display: flex;
  margin: 0px;
  padding: 18px 6px;
  color: #20202064;
  font-size: 12px;
  border: 0;
  background-color: #f6f7f8;

}

.btnRight {
  display: flex;
  border: 0;
  color: #20202092;
  height: 40px;
  margin: 0px;
  padding: 13px 17px;
  background-color: #f6f7f8;

}

.btnRightPhone {
  display: flex;
  border: 0;
  font-size: 12px;
  color: #20202092;
  padding: 18px 30px 10px 0px;
  margin: 0;
  background-color: #f6f7f8;

}

.btnLeft:hover {
  i {
    transition: 0.5s;
    rotate: 180deg;
  }

  #dropdown {
    display: block;
    box-shadow: 1px 0px 8px;
    margin: 10px 0px;
  }
}

.btnRight:hover {
  i {
    transition: 0.5s;
    rotate: 180deg;
  }

  #dropdown {
    display: block;
    box-shadow: 1px 0px 8px;
    margin: 10px 0px;
    color: black;
  }
}

.btnRighLupa:hover {
  color: green;
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a0a4a9;
  border-radius: 10px;
  border: 2px solid #f2f2f2;
}

::-webkit-scrollbar-thumb:hover {
  background: #949698;
}

#dropdown {
  width: 100%;
  top: 100%;
  display: none;
  background-color: white;
  padding: 10px 10px;
  z-index: 9999;

  li {
    margin: 10px 0;
  }
}

/* ikinci nav */

#logo {
  width: 180px;
  display: inline-block;

  img {
    width: 100px;
    object-fit: cover;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;

  i {
    color: black;
    font-size: 30px;
    cursor: pointer;
  }
}


.sidebar {
  transition: 1s;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  padding: 16px;
  z-index: 9999;


  .close {
    padding: 16px;
    text-align: right;
    font-size: 24px;
    color: black;
  }
}

#inp {
  display: none;
}

#inp:checked~.sidebar {
  right: 0;
}

.container {
  width: 90%;
}

#inp1 {
  display: none;
}

.accordion {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 10px;
}

.menubtn {
  background-color: #0056c1;
  border: #0056c1;
  margin-bottom: 10px;
  color: white;
  width: 100%;
  height: 50px;
}

.menuRes {
  display: flex;
  overflow-x: auto;
  border-bottom: #e4e4e4;
}

.menuRes ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;


}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.menuRes ul li {
  display: flex;
  font-size: 14px;
  line-height: 1.8;
  padding: 20px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.menuRes ul li:hover {
  font-size: 14px;
  line-height: 1.8;
  padding-left: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.dropdownMenu {
  text-align: left;
  background-color: white;
  color: black;
  font-size: 15px;
  max-height: 70px;
  transition: 0.5s;
  overflow: hidden;
}

.dropText menu li {
  background-color: rgb(194, 194, 194);
  list-style: none;
  padding: 10px;
}




.dropText {
  border-top: 2px solid #fff;
}

/* Main hissesi */

.medsekil {
  width: 35% !important;
  margin: auto;
}

.carousel {
  background-color: #d8e2f6;
  height: 550px;
}

/* Sade kecidler Kart hissesi */
h1 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 1rem !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  margin-left: 20px;
}

h5,
p {
  color: black;
}

.card-container {
  border: 0px solid black;
  display: flex;
  background: #f4f6f8;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 100px;
}

.card-content {
  flex: 1;
  padding: 20px;
}

.card-content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.order-button {
  background: #2057b7;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.order-button:hover {
  background: #1d4fa8;
}

.card-image img {
  max-width: 120px;
  border-radius: 8px;
}

/* form hissesi basladi */

.containerForm {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
}

.allForm {
  text-align: center;
  margin-bottom: 20px;
}

.allForm-image {
  max-width: 100%;
  border-radius: 10px;
}

.formh1 {
  font-size: 20px;
  color: #333;
}

.formp {
  font-size: 16px;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input[type="text"],
input[type="tel"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.checkbox input {
  margin-right: 10px;
}

.checkbox label {
  font-size: 12px;
  color: #555;
}

.checkbox a {
  color: #007bff;
  text-decoration: none;
}

.checkbox a:hover {
  text-decoration: underline;
}

.submitButton {
  padding: 10px;
  background: #ccc;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
  transition: background 0.3s ease;
}

form:has(#agreement:checked) .submitButton {
  background: #0056b3;
  cursor: pointer;
}

form:has(#agreement:checked) .submitButton:hover {
  background: #00356e;
}

/* form hissesi bitdi */

/* kalkulyator hissesi basladi */
.calculator {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 20px 30px;
}

.kredith1 {
  font-size: 24px;
  color: #333;
  margin: 0px;
}

/* Form bölməsi */
.form-section {
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  background: #fafafa;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}



input[type="range"] {
  width: 100%;
  margin: 5px 0;
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  background: #ddd;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}


/* Nəticələr */
.results {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 20px;
}

.results div p:first-child {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.results div p:last-child {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

/* Hesablama düyməsi */
.calculateButton {
  width: 100%;
  padding: 12px;
  background: #0056b3;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.calculateButton:hover {
  background: #00356e;
}

/* kalkulyator hissesi bitdi */

/* Xidmetler hissesi basladi */
.xidmet {
  background: #f5f5f5;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.swiper-slide {
  box-sizing: border-box;
  min-width: 200px;
  min-height: 200px;
  background: white;
  text-align: center;
  border-radius: 15px;
  margin: 50px;

}

.swiper-pagination {
  display: none;
}

.xidmet img {
  width: 80%;
  padding: 50px;
}

/* Xidmetler hissesi bitdi */

/* Valyuta hissesi basladi */
.currency-container {
  max-width: 600px;
  margin: 30px auto;
  background: #fff;
  padding: 20px 30px;
}

/* Başlıq */
h1,
h2 {
  margin: 0px;
  font-size: 20px;
  color: #333;
}

h2 {
  margin-bottom: 20px;
}

.update-time {
  font-size: 12px;
  color: #888;
  margin-bottom: 15px;
}

.rates-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.rates-table th,
.rates-table td {
  text-align: left;
  padding: 10px;
}

.sonSetir {
  border-bottom: 1px solid #ddd;
}


.rates-table th {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.rates-table td {
  font-size: 14px;
  color: #333;
}

.view-more {
  font-size: 14px;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.view-more:hover {
  text-decoration: underline;
}

.currency-converter {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.input-group input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 14px;
  outline: none;
}

.input-group select {
  border: none;
  padding: 10px;
  font-size: 14px;
  background: #f8f8f8;
  color: #555;
  outline: none;
  cursor: pointer;
  border-left: 1px solid #ddd;
}

.input-group input::placeholder {
  color: #aaa;
}

/* Valyuta hissesi bitdi */

/* Xeberler hissesi basladi */
.news-container {
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
}

.bashliq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bashliq h1 {
  margin: 0;
  font-size: 24px;
}

.bashliq a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.bashliq a:hover {
  text-decoration: underline;
}

.news-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  border-radius: 8px;
  padding: 15px;
  border: 0;
}


.card h2 {
  margin-bottom: 50px;
  font-size: 15px;
  color: #333;
}

.card .date {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 10px;
  color: #888;
}

/* Xeberler hissesi bitdi */



/* Reqemsal mehsullar hissesi basladi */

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.containerr {
  display: flex;
  flex-wrap: wrap;
  /* Kartlar növbəti sətirə keçə bilər */
  gap: 20px;
  /* Kartlar arasındakı məsafə */
  justify-content: space-between;

}

.cardRqm {
  max-width: 550px;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 calc(50% - 20px);
  flex-direction: column;
  border-radius: 15px;
  margin-bottom: 20px;
  color: #fff;
}

.cardRqm p {
  color: white;
}

.cardRqm-image img {
  width: 250px;
  height: 250;
  border: 0px solid #77777762;
  border-radius: 40px;
}

.rqm1 {
  background-color: #1461c5;
}

.RQM1 {
  background-color: #286fca;
}

.rq2 {
  background-color: #0024a3;
}

.RQ2 {
  background-color: #1536a7;
}

.rq3 {
  background-color: #114090;
}

.RQ3 {
  background-color: #265099;
}

.rq4 {
  background-color: #096ceb;
}

.RQ4 {
  background-color: #1e79ec;
}

.cardRqm-content {
  padding: 20px;
}

.cardRqm-content .Rqmh2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.cardRqm-content .Rqmp {
  font-size: 14px;
  margin-bottom: 15px;
}

.app-links {
  display: flex;
  gap: 10px;
}

.app-links img {
  width: 40px;
  height: 40px;
}

.action-button {
  background-color: #fff;
  color: #0055a4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* Reqemsal mehsullar hissesi bitdi */



/*  Footer hissesi */

.footer1 {
  background-color: #fff;
  padding: 20px 40px;
}

.containerr {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  height: 40px;
}

.footer-nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.footer-nav a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

.footer-contact {
  margin-bottom: 20px;
}

.footer-contact h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-contact p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.footer-contact a {
  text-decoration: none;
  color: #000;
}

.social-media {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: rgb(48, 47, 47);
  text-decoration: none;
  background: #cccccc73;
}

.social-media a img {
  height: 24px;
  width: 24px;
}

/* Yükləmə linkləri */
.download-links {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.download-links a {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 180px;
  /* Düzgün ölçü verir */
}

.download-links a img {
  height: 60px;
  width: 60px;
  margin-left: 5px;
}

.download-links a div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.download-links a div .top-text {
  font-size: 10px;
  color: #666;
}

.download-links a div .bottom-text {
  font-size: 10px;
  font-weight: bold;
  color: #333;
}

/* icon hissesi  */



.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  color: #666;
}

.certificates img {
  height: 20px;
  margin-left: 10px;
}

.mediaO,
.mediaNav,
.goymedia ,
.gizle {
  display: none;
}



@media only screen and (min-width: 786px) {
  .sil, .sidebar, .footer1{
    display: none;
  }
.gizle {display: initial;}
  .mediaO {
    display: flex;
    font-size: 10px;
  }
  

  .ccc {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
  }

  .satiram {
    display: flex;
    justify-content: space-between;
  }

  .currency-container {
    display: flex;
    justify-content: space-evenly;
  }


  .swiper-slide {
    max-width: 300px;
    max-height: 300px;
    padding: 0;
    margin: 0;
    gap: 0;
  }




  .submitButton {
    background-color: #0055a4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submitButton:hover {
    background-color: #004c8c;
  }

  .checkbox {
    display: flex;
    align-items: center;
  }

  .checkbox label {
    margin-left: 10px;
  }



  .goymedia,
  .goymedia i {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: #1f57ba;
    box-sizing: none;
    border: 0;
    padding: 0 10px;
  }

  .nav1 {
    display: flex;
    justify-content: space-between;
  }


  .mediaO ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    background-color: #f6f7f8;
  }

  .mediaO ul li {
    font-size: 14px;
    line-height: 1.8;
    padding-left: 20px;
  }

  .mediaO ul li:hover {
    font-size: 14px;
    line-height: 1.8;
    padding-left: 20px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
  }

  .media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-color: #f6f7f8;
  }

  .leftNav {
    display: none;
  }

  .medialogo {
    display: flex;
    flex-direction: row;

    gap: 120px;

  }

  .mediaNav {
    display: flex;
    flex-direction: row;

  }

  .rightNav {
    display: flex;

  }

  .carousel {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    background-color: #bec8dc;

  }

  .yan {}

  .medsekil {
    display: flex;
    width: 50% !important;

  }

  .sliderMedia {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

  }

  .sadecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px;
    padding: 20px;
    margin: 0;

  }

  .card-container {
    flex: 1 1 calc(33.33% - 20px);
    max-width: 485px;
    padding: 0;
    margin: 10px;

  }
  .footer-header {
    border-top: 1px solid rgba(125, 121, 121, 0.249);
    padding: 50px;
  }
  .footer2 {
    background-color: #f8f9fa;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
 
  
  .footer-contact {
    display: block;
    max-width: 1250px;
    margin: 0 auto;
  }
  .download-links {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1;
    margin: 0 10px;
  }
  
  .footer-column h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 8px;
  }
  
  .footer-column ul li a {
    text-decoration: none;
    color: #bbbdc0;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
    color: #0056b3;
  }
  .footer-bottom {
    margin: 20px;
  }
}